.Main{
    font-family: italic;
    margin-left: 35px;
}
.Education_content{
  margin-left: 149px;
}
.Skills_content{
  margin-left: 149px;
}
h2{
  margin-left: 0px;
}
  .Content-1 {
    display: flex; 
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 671px;
  }
  
  p {
    margin-right: 10px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 .Contact-1{
  margin-right: 30px;
  width: 550px;
 }
 .Resume{
  font-size:  30px;
  margin-left: 147px;
 }
.Email:hover {
  cursor: pointer; 
}
.Year{
  margin-right: 10px;
}
ul li{
  font-size: 20px;
}

 